main, header {
    max-width: 1360px;
    margin: 0 auto;
    padding: 10px 0;
}

header {
    display: flex;
    justify-content: flex-end;
}

button {
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    padding: .375rem .75rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-cart {
    width: 100px;
    display: block;
    color: #212529;
    background-color: #d39e00;
    border-color: #c69500;
}

.btn-cart:hover {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-item {
    box-sizing: border-box;
    width: 18rem;
    background: white;
    border: 1px solid lightskyblue;
    text-align: center;
    padding: 14px;
    margin-bottom: 10px;
}

.product-item img {
    width: 260px;
    height: 260px;
    display: block;
    margin: 0 auto;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.product-item h3 {
    margin: 10px auto;
    text-align: center;
}

.product-item .desk {
    margin: 4px;
}

.product-item .price {
    margin: 4px;
    font-size: 2rem;
    font-weight: bolder;
}

.product-item .price:after {
    font-weight: normal;
    content: ' \20BD';
}

.product-item .buy-btn {
    display: inline-block;
    border: 1px solid #28a745;
    color: #fff;
    background-color: #28a745;
}

.product-item .buy-btn:hover {
    background-color: #218838;
    border-color: #1e7e34;
}